// colores
$warning: #ea2f8c;
$success: #2c35a1;
$info: #b3b8e4;
$textShadow: 0px 3px 7px #b3b8e4;
// color de las burbujas
// #d6daff

// fuente
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');


body{
    font-family: 'Quicksand', sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}

h1, h2, h3{
    color: $success;
    text-shadow: $textShadow;
}

p{
    font-weight: 500;
}


// general

.responsive{
    display: none!important;
}

.warning {
    color: $warning;
}
.success {
    color: $success;
}

.w100{
    width: 100%;
}

.h100{
    height: 100%;
}

.mt20{
    margin-top: 20px;
}

.mt30{
    margin-top: 30px;
}

.mb20{
    margin-bottom: 20px;
}

.m0{
    margin: 0!important;
}

.pad20{
    box-sizing: border-box;
    padding: 20px;
}

.center{
    text-align: center;
}

.grid-21{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
}

.pointer{
    cursor: pointer;
}

ul { 
    list-style-image: url('../icons/marcador.svg'); 
}

// forms

input{
    font-weight: 600;
    padding: 5px 2px;
    text-align: center;
    font-size: 25px;
    border-radius: 20px;
    border-color: $success;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}

// button, input{
//     display: block;
// }

.btn{
    color: #fff;
    padding: 8px 40px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    svg{
        font-size: 26px;
    }
}

.btn-warning{
    background-color: $warning;
    border: 1px solid $warning;
}

.btn-success{
    background-color: $success;
    border: 1px solid $success;
}

.btn-disable{
    background-color: rgba(136, 136, 136, 0.7607843137);
    border: 1px solid #3d3d3d;
    cursor: no-drop;
}

// scroll

.scroll{
    overflow-y: scroll;
    max-height: calc(100vh - 46%);
}

.scroll::-webkit-scrollbar {
    background-color: transparent;
    width: 9px;
}

.scroll::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 4px;
    transition-delay: 1s;
}

.scroll:hover::-webkit-scrollbar-thumb,
.scroll::-webkit-scrollbar-thumb:hover {
    background-color: $info;
    transition-delay: 1s;
}


// modal

.modal{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    .background-modal {
        width: 100%;
        height: 100%;
        background-color: rgb(121 127 227 / 38%);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 5;
    }
    .body-modal{
        width: 450px;
        position: relative;
        background-color: #ffffff;
        box-sizing: border-box;
        padding: 30px;
        border-radius: 14px;
        z-index: 6;
        box-shadow: 1px 5px 8px 4px rgb(81 83 112 / 41%);
        overflow: hidden;
        .modal-confirmar {
            height: 200px;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
}

.loading{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lds-ripple {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-ripple div {
    position: absolute;
    border: 4px solid $info;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
}
@keyframes lds-ripple {
    0% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 0;
    }
    4.9% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 0;
    }
    5% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 1;
    }
    100% {
        top: 0px;
        left: 0px;
        width: 72px;
        height: 72px;
        opacity: 0;
    }
}


// app

.App{
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .app-in{
        min-width: 1200px;
        max-width: 1200px;
        // width: 80%;
        height: 90vh;
        background-color: #fff;
        box-sizing: border-box;
        // padding: 20px;
        border-radius: 15px;
        box-shadow: 0px 6px 20px 16px #00000038;
        overflow: hidden;
        position: relative;
    }
}

.icon-back {
    position: absolute;
    top: 10px;
    left: 13px;
    z-index: 7;
    transition: 2s;
    cursor: pointer;
    svg{
        font-size: 40px;
    }
    &:hover{
        transform: scale(1.2);
        transition: 1s;
    }
}

.login {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    .box-left{
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        
        .input-login{
            display: flex;
            flex-direction: column;
            padding: 0 0 60px 0;
            position: relative;
            .titulo-login{
                margin-bottom: 50px;
                text-align: center;
                h1{
                    margin-bottom: 0;
                    color: $success;
                }
            }
            .desc-login{
                text-align: center;
            }

            .box-content-login{
                display: flex;
                flex-direction: column;
                height: 200px;
            }
            .box-login-loading{
                height: 200px;
                display: flex;
                justify-content: center;
                align-items: center;
            }

        }
    }
    .box-right{
        background: url("../images/background-login.jpg") no-repeat center center ;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;

        .box-box-right{
            text-align: center;
            padding-bottom: 100px;
            .titulo-colegio{
                margin-top: 30px;
                h2{
                    color: $success;
                    font-weight: 800;
                    margin: 0;
                }
            }
            
            img{
                width: 130px;
            }
        }
        
    }
}

.votar{
    width: 100%;
    height: 100%;
    background: url("../images/background-votar.jpg") no-repeat center center;
    position: relative;
    .box-cedula-electoral{
        display: flex;
        flex-wrap: wrap;
        min-height: 83vh;
        width: 100%;
        
        .box-in-cedula-electoral{
            width: 100%;
            .titulo-cedula{
                margin-top: 20px;
                text-align: center;
                h2{
                    margin: 0;
                }
                h4{
                    text-transform: uppercase;
                    margin: 7px 0 0 0;
                    color: $warning;
                    font-weight: 800;
                }
            }
            .lista-candidatos{
                box-sizing: border-box;
                padding-left: 20px;
                
                .item-lista-candidatos{
                    display: grid;
                    grid-template-columns: 1fr 3fr 3fr;
                    gap: 10px;
                    align-items: center;
                    justify-items: start;
                    margin: 10px 10px 0px 10px;
                    box-sizing: border-box;
                    padding: 8px;
                    border: 2px solid transparent;
                    .img-candidato{  
                        border-radius: 50%;
                        overflow: hidden;
                        width: 90px;
                        height: 90px;
                        display: block;
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                    .nombre-candidato, .nombre-partido{  
                        display: inline-block;
                        color: $success;
                        text-transform: uppercase;
                        p{
                            text-transform: initial;
                            color: $warning;
                        }
                    }
    
                }
                .candidato-select{
                    border-radius: 50px;
                    border: 2px solid #ea2f8c;
                    box-shadow: 3px 3px 6px 0px #ea2f8c70;
                }
            }
            
        }    

    }

    .box-cedula-instrucciones{
        height: 100%;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        border-left: 1px solid #d6daff;
        padding: 0px 0px 0px 20px;
        .cedula-descripcion{
            text-align: center;
            width: 100%;
            h3{
                text-align: center;
                margin-top: 40px;
            }
            p{
                margin: 10px 0 0 0;
            }
            // .nombre-elector{
            //     strong{
            //         text-transform: lowercase;
            //     }
            // }
        }
        .logo-cole-cedula{
            width: 90px;
            opacity: 60%;
            margin: 0 0 30px 0;
        }
        .btn-votar {
            width: 100%;
            display: flex;
            padding: 20px 0 0 0;
            font-weight: 800;
            font-size: 20px;
            justify-content: center;
            align-items: center;
            align-self: flex-end;
            .btn-confirmar-votar{
                width: 100%;
            }
        }
        .plancha-electoral{
            position: relative;
            p{
                margin: 0;
            }
            .icon-borrar-candidato{
                position: absolute;
                top: -25px;
                right: 5px;
                cursor: pointer;
                svg{
                    font-size: 30px
                }
            }
        }

    }

    .modal-confirmar{
        .info-modal{
            text-align: center;
            p, h3{
                margin: 0 0 0 0;
            }
        }
        .botones-modal-confirmar{
            margin-top: 20px;
            text-align: center;
            display: flex;
            justify-content: space-evenly;
            button{
                width: 130px;
            }
        }
    }
    


}


.finalizacion{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    .box-finalizacion{
        text-align: center;
        .desc-finalizacion{
            .info-finalizacion-voto{
                color: #ea2f8c;
                margin: 20px 0 0 0;
                font-size: 15px;
            }
            p{
                margin: 40px 0px 10px 0;
            }
        }
        img{
            margin-top: 50px;
            width: 90px;
            opacity: 60%;
        }
    }
}

.loading-pages{
    height: 500px;
    display: flex;
}

@media(max-width:999px){
    .app-in{
        display: none;
    }
    .responsive{
        display: block!important;
        background-color: #ffffffba;
        padding: 20px 60px;
        box-sizing: border-box;
        border-radius: 20px 20px;
        text-align: center;
        .responsive img {
            width: 80px;
            opacity: 60%;
        }
    }
}