.App{
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .app-in{
        min-width: 1200px;
        max-width: 1200px;
        // width: 80%;
        height: 90vh;
        background-color: #fff;
        box-sizing: border-box;
        // padding: 20px;
        border-radius: 15px;
        box-shadow: 0px 6px 20px 16px #00000038;
        overflow: hidden;
        position: relative;
    }
}

.icon-back {
    position: absolute;
    top: 10px;
    left: 13px;
    z-index: 7;
    transition: 2s;
    cursor: pointer;
    svg{
        font-size: 40px;
    }
    &:hover{
        transform: scale(1.2);
        transition: 1s;
    }
}

.login {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    .box-left{
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        
        .input-login{
            display: flex;
            flex-direction: column;
            padding: 0 0 60px 0;
            .titulo-login{
                margin-bottom: 50px;
                text-align: center;
                h1{
                    margin-bottom: 0;
                    color: $success;
                }
            }
            .desc-login{
                text-align: center;
            }
            // input, button{
                
            // }
        }
    }
    .box-right{
        background: url("../images/background-login.jpg") no-repeat center center ;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;

        .box-box-right{
            text-align: center;
            padding-bottom: 100px;
            .titulo-colegio{
                margin-top: 30px;
                h2{
                    color: $success;
                    font-weight: 800;
                    margin: 0;
                }
            }
            
            img{
                width: 130px;
            }
        }
        
    }
}

.votar{
    width: 100%;
    height: 100%;
    background: url("../images/background-votar.jpg") no-repeat center center;
    position: relative;
    .box-cedula-electoral{
        display: flex;
        flex-wrap: wrap;
        min-height: 83vh;
        width: 100%;
        
        .box-in-cedula-electoral{
            width: 100%;
            .titulo-cedula{
                margin-top: 20px;
                text-align: center;
                h2{
                    margin: 0;
                }
                h4{
                    text-transform: uppercase;
                    margin: 7px 0 0 0;
                    color: $warning;
                    font-weight: 800;
                }
            }
            .lista-candidatos{
                box-sizing: border-box;
                padding-left: 20px;
                
                .item-lista-candidatos{
                    display: grid;
                    grid-template-columns: 1fr 3fr 3fr;
                    gap: 10px;
                    align-items: center;
                    justify-items: start;
                    margin: 10px 10px 0px 10px;
                    box-sizing: border-box;
                    padding: 8px;
                    border: 2px solid transparent;
                    .img-candidato{  
                        border-radius: 50%;
                        overflow: hidden;
                        width: 90px;
                        height: 90px;
                        display: block;
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                    .nombre-candidato, .nombre-partido{  
                        display: inline-block;
                        color: $success;
                        text-transform: uppercase;
                        p{
                            text-transform: initial;
                            color: $warning;
                        }
                    }
    
                }
                .candidato-select{
                    border-radius: 50px;
                    border: 2px solid #ea2f8c;
                    box-shadow: 3px 3px 6px 0px #ea2f8c70;
                }
            }
            
        }    

    }

    .box-cedula-instrucciones{
        height: 100%;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        border-left: 1px solid #d6daff;
        padding: 0px 0px 0px 20px;
        .cedula-descripcion{
            text-align: center;
            width: 100%;
            h3{
                text-align: center;
                margin-top: 40px;
            }
            p{
                margin: 10px 0 0 0;
            }
            // .nombre-elector{
            //     strong{
            //         text-transform: lowercase;
            //     }
            // }
        }
        .logo-cole-cedula{
            width: 90px;
            opacity: 60%;
            margin: 0 0 30px 0;
        }
        .btn-votar {
            width: 100%;
            display: flex;
            padding: 20px 0 0 0;
            font-weight: 800;
            font-size: 20px;
            justify-content: center;
            align-items: center;
            align-self: flex-end;
            .btn-confirmar-votar{
                width: 100%;
            }
        }
        .plancha-electoral{
            position: relative;
            p{
                margin: 0;
            }
            .icon-borrar-candidato{
                position: absolute;
                top: -25px;
                right: 5px;
                cursor: pointer;
                svg{
                    font-size: 30px
                }
            }
        }

    }

    .modal-confirmar{
        .info-modal{
            text-align: center;
            p, h3{
                margin: 0 0 0 0;
            }
        }
        .botones-modal-confirmar{
            margin-top: 20px;
            text-align: center;
            display: flex;
            justify-content: space-evenly;
            button{
                width: 130px;
            }
        }
    }
    


}


.finalizacion{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    .box-finalizacion{
        text-align: center;
        .desc-finalizacion{
            .info-finalizacion-voto{
                color: #ea2f8c;
                margin: 20px 0 0 0;
                font-size: 15px;
            }
            p{
                margin: 40px 0px 10px 0;
            }
        }
        img{
            margin-top: 50px;
            width: 90px;
            opacity: 60%;
        }
    }
}
